spring:
  application:
    name: webscraper
  datasource:
    driver-class-name: org.hsqldb.jdbc.JDBCDriver
    url: jdbc:hsqldb:mem:testdb;DB_CLOSE_DELAY=-1
    username: sa
    password:
  flyway:
    enabled: true
    locations: db/migration/hsqldb
    validate-on-migrate: true
    baseline-on-migrate: true
    baseline-version: 1
  profiles:
    active: @spring.profiles.active@
  #active: hsqldb,localWebDriver,heise
  task:
    scheduling:
      pool:
        size: 3
management:
  endpoints:
    web:
      exposure:
        include: "*"
#  server:
#    port: 8081
#    address: "127.0.0.1"
webdriver:
  chrome:
    options:
      - --disable-search-engine-choice-screen
      - --lang=de
      - --disable-notifications
      - --disable-infobars
      - --disable-extensions
#      - --headless
#      - --incognito
#      - --windows-size=1200x600
#      - --disable-gpu
#      - --disable-web-security
logging:
  level:
    de:
      jdufner:
        webscraper:
          crawler:
            image:
              ImageDownloader: DEBUG
              ImageGetterAhc: INFO
            web:
              WebCrawlerTrigger: INFO
              WebFetcher: INFO
