spring:
  application:
    name: webscraper
  datasource:
    driver-class-name: org.hsqldb.jdbc.JDBCDriver
    url: jdbc:hsqldb:mem:testdb;DB_CLOSE_DELAY=-1
    username: sa
    password:
  flyway:
    enabled: true
    locations: db/migration/hsqldb
    validate-on-migrate: true
    baseline-on-migrate: true
    baseline-version: 1
  profiles:
    active: @spring.profiles.active@
  #active: hsqldb,localWebDriver,heise
  task:
    scheduling:
      pool:
        size: 3
management:
  endpoints:
    web:
      exposure:
        include: "*"
#  server:
#    port: 8081
#    address: "127.0.0.1"
webdriver:
  chrome:
    options:
      - --disable-search-engine-choice-screen
      - --lang=de
      - --disable-notifications
      - --disable-infobars
      - --disable-extensions
#      - --headless
#      - --incognito
#      - --windows-size=1200x600
#      - --disable-gpu
#      - --disable-web-security
    # page-load-strategy must be one of normal (blocks ), eager, none
    page-load-strategy: none
logging:
  structured:
    format:
      file: ecs
  file:
    name: \\wsl.localhost\Ubuntu\tmp\logs\webscraper.log
  logback:
    rollingpolicy:
      file-name-pattern: ${LOG_FILE}.%d{yyyy-MM-dd}.%i.log
      clean-history-on-start: false
      max-file-size: 1MB
      max-history: 7
      total-size-cap: 10MB
  level:
    de:
      jdufner:
        webscraper:
          crawler:
            image:
              ImageDownloader: INFO
              ImageGetterAhc: INFO
            logger:
              JsonLogger: INFO
            web:
              WebCrawlerTrigger: INFO
              WebdriverWrapper: INFO
              WebFetcher: INFO
          picturechoice:
            PictureAnalyzer: DEBUG
            PictureChoiceController: DEBUG
